-r requirements.txt
flake8==2.2.5
mccabe==0.3
pep8==1.5.7
pyflakes==0.8.1

selenium==2.44.0

coverage==3.7.1
coveralls==0.5
# Dependencies for the two above
PyYAML==3.11
docopt==0.6.2
requests==2.5.0
