/* CSS used here will be applied after bootstrap.css */

.page-header {
  margin: 0 0 20px;
}

.minimum-required {
  background: red;
}

.required {
  background: pink;
}

.must-provide-either {
  background: blue;
}

.optional {
  background: green;
}

caption {
  text-align: left;
  font-weight: bold;
}
