{% extends 'base.html' %}
{% block title %}Company{% endblock %}

{% block content %}
    {% for company in object_list %}
        <h1 class="company_name">{{ company.name }}</h1>
        <p class="address">{{ company.address }}</p>
        <p>VAT Reg. no: {{ company.VAT_registartion_number }}</p>
        <p>Accounting Year Starts: 
            {% for business_year in company.businessyear_set.select_related %}
              {{ business_year.start_date }}
            {% endfor %}
        </p>
        <p>Accounting Type: {{ company.get_accounting_type_display }}</p>
        <p>Accountants: <td>{{ company.accountancy_firm_id }}</td></p>
        <table class="table table-bordered table-striped">
            <caption>User Accounts</caption>
            <thead>
              <th>ID</th>
              <th>Username</th>
              <th>Full name</th>
            </thead>
            <tbody>
            {% for user in company.users.all %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.get_full_name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
