{% extends 'base.html' %}
{% block title %}Transaction Revision list{% endblock %}


{% block page_header %}
  <h1>Transaction Revision list</h1>
  <p>Transaction ID: {{ object_list.transaction_id }}</p>
{% endblock %}
{% block content %}

<table class="table table-bordered table-striped">
    <thead>
      <th>Short ID</th>
      <!--<th>Revison ID</th>-->
      <th>Revised on</th>
      <th>Revised by</th>
      <th>Date</th>
      <th>Name</th>
      <th>Amount</th>
    </thead>
    {% for transactionrevision in object_list %}
    <tbody>
    <tr>
        <td>{{ transactionrevision.mini_uuid }}</td>
        <!--<td>{{ transactionrevision.revision_ptr_id }}</td>-->
        <td>{{ transactionrevision.revision_datetime }}</td>
        <td>{{ transactionrevision.user.username }}</td>
        <td>{{ transactionrevision.date }}</td>
        <td>{{ transactionrevision.name }}</td>
        <td>{{ transactionrevision.amount }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}
