{% extends 'base.html' %}
{% block title %}Transaction list{% endblock %}


{% block page_header %}
  <h1>Transaction list (Cash)</h1>
{% endblock %}
{% block content %}

<table class="table table-bordered table-striped">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Code</th>
      <th>Code Name</th>
      <th>Account</th>
      <th>Notes</th>
      <th>Business Year</th>
      <th>Links</th>
    </thead>
    {% for transaction in object_list %}
    <tbody>
    <tr>
        <td>{{ transaction.uuid }}</td>
        <td>{{ transaction.latest_revision.name }}</td>
        <td>{{ transaction.latest_revision.amount }}</td>
        <td>{{ transaction.latest_revision.date }}</td>
        <td>{{ transaction.latest_revision.nominal_code_id }}</td>
        <td>{{ transaction.latest_revision.nominal_code.name }}</td>
        <td>{{ transaction.latest_revision.originating_account }}</td>
        <td>{{ transaction.latest_revision.notes }}</td>
        <td>{{ transaction.latest_revision.business_year.start_date }}</td>
        <td>All revisions / Edit</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}
