{% extends 'base.html' %}
{% block title %}Transaction list{% endblock %}

{% block page_header %}
  <h1>{{ view.transaction_type_name }}</h1>
  <p><a href="{% url 'bookish-mileage_edit' %}">Add new</a></p>
{% endblock %}
{% block content %}

<table class="table table-bordered table-striped">
    <thead>
      <th>Short ID</th>
      <!--<th>Full ID</th>-->
      <th class="minimum-required">Date</th>
      <th>Description</th>
      <th>Miles</th>
      <th>Vehicle</th>
      <th>Customer reference</th>
      <th class="optional">Notes</th>
      <th>Business Year</th>
      <th>State</th>
      <th>Links</th>
      <th>Posting Arrow</th>
    </thead>
    <tbody>
    {% for transaction in object_list %}
    <tr>
        <td>{{ transaction.mini_uuid }}</td>
        <!--<td>{{ transaction.uuid }}</td>-->
        <td>{{ transaction.latest_revision.date|date:"d-m-y" }}</td>
        <td>{{ transaction.latest_revision.name }}</td>
        <td>{{ transaction.latest_revision.amount }}</td>
        <td>{{ transaction.latest_revision.vehicle.name }}</td> <!--Vehicle-->
        <td>{{ transaction.latest_revision.customer_ref }}</td> <!--Customer Ref-->
        <td class="optional">{{ transaction.latest_revision.notes }}</td>
        <td>{{ transaction.latest_revision.business_year }}</td>
        <td></td>
        <td><a href="{% url 'bookish-cash_revision_list' transaction.uuid %}">All revisions</a> / <a href="{% url 'bookish-mileage_edit' transaction.uuid %}">Edit</a></td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
