{% extends 'base.html' %}
{% block title %}Transaction list{% endblock %}


{% block page_header %}
  <h1>Transaction list</h1>
{% endblock %}
{% block content %}

<table class="table table-bordered table-striped">
    <thead>
      <th>ID</th>
      <th>Date</th>
      <th>Name</th>
    </thead>
    {% for transaction in object_list %}
    <tbody>
    <tr>
        <td>{{ transaction.uuid }}</td>
        <td>{{ transaction.latest_revision.date }}</td>
        <td>{{ transaction.latest_revision.name }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}
